@tailwind base;
@tailwind components;
@tailwind utilities;

.mg {
   transform: rotateY(180deg);
}

.tag {
   color: rgb(52 211 153);
}

.headline {
   white-space: nowrap;
   color: #333;
   font-size: 1.2em;
   padding-left: 100%; /* Start off screen */
   animation: slide 10s linear infinite;
}

/* Keyframes for sliding effect */
@keyframes slide {
   from {
      transform: translateX(0); /* Start position */
   }
   to {
      transform: translateX(-100%); /* End position */
   }
}
